* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.header-section {
  display: flex;
  justify-content: space-around;

  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.header-li {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  gap: 50px;
  font-family: Lato;
  font-weight: 400;
}
.logo-img {
  width: 100px;
  box-shadow: 4px 4px 15px gray;
}
.banner-h1 {
  font-size: 50px;
  font-weight: 900;
}

.banner-p {
  text-align: justify;
  margin-top: 30px;
}
.btn {
  background: #e55473;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}
.img {
  width: 400px;
  margin: 50px 130px;
}
.banner {
  display: flex;
  background: #e554731a;
  justify-content: space-evenly;
}
.banner-title {
  margin: 120px 120px;
}
section {
  text-align: center;
  padding: 0px 400px;
}
.section-p {
  margin-top: 10px;
}
.flowers {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.flower-img1 {
  border-radius: 300px 300px 0px 0px;

  background: #a7216226;
  width: 27%;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.flower-img2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 27%;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.flower-img3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 27%;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.flower-1 {
  width: 300px;
  margin-top: 100px;
}
.flower-2 {
  align-content: center;
}
.flower-3 {
  width: 310px;
  margin-top: 50px;
}
.flower-1h {
  text-decoration: underline;
}
.flower-2h {
  text-decoration: underline;
}
.flower-3h {
  text-decoration: underline;
}
.flowers-name {
  display: flex;

  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 100px;
}
.icon {
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;

  background: rgba(39, 39, 39, 0.05);

  text-align: center;
  font-family: Lato;
  margin: 0px 100px;
  font-weight: 600;
  padding: 20px 0px;
}
.icon-delivery {
  text-align: center;
}
.icon-grower {
  text-align: center;
}
.icon-support {
  text-align: center;
}

.container {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin: 100px 300px;
  height: 400px;
}
.left-container {
  margin-top: 180px;
}
.container-h {
  margin-bottom: 20px;
}

/* insta start */
.instagram {
  text-align: center;
  margin: 0px 390px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.insta-p {
  margin: 20px;
}
/* insta end */
.insta-container {
  display: flex;
  margin: 45px auto;
  gap: 24px;
  text-align: center;
}
.rose1 {
  width: 23%;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.rose2 {
  width: 23%;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.rose3 {
  width: 23%;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.rose4 {
  width: 23%;
  background: url(<path-to-image>),
    lightgray -11.535px 0px / 173.728% 100% no-repeat;
}

.latest-shop {
  text-align: center;
}
.latest-shop-background {
  width: 100%;
  height: 250px;
}
.text {
  margin-top: -170px;
}
.input {
  padding: 18px 200px;
  border-radius: 8px;
  border: none;
}
.shop-h {
  margin-bottom: 10px;
}

.footer-h {
  font-family: Lato;
  font-size: 48px;
  color: #fff;
  font-weight: 800;
}
.footer {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;

  font-weight: 400;
}
.footer-p2 {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;

  font-weight: 400;
}

.primary {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
}
.footer-container {
  background: #111010;
  height: 400px;
  text-align: center;
  margin-top: 150px;
}
